# Python
__pycache__/
*.py[cod]
*$py.class

# Output images only (not assets)
output/*.png
wc_output/*.png
*.png
!assets/**/*.png
!assets/*.png

# Secrets & Local Batches
run.bat

# OS
.DS_Store
Thumbs.db
